<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>词霸（开发版）：从文章录入单词</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='passage_input/passage_input.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='public/public.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon-32x32.png') }}">
</head>
<body>
    <div class="main">
        
    </div>

    <script type="module" src="{{ url_for('static', filename='passage_input/passage_input.js') }}"></script>
</body>
</html>
