/* passage_input.css */

body {
    background-color: #f8fafc;
    margin: 0px;
}

.top {
    width: 90%;
    height: 10vh;
    background-color: #2563eb;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 15px 15px; /* 下方有圆角，上方没有 */

    /* 固定到顶端位置 */
    position: fixed;
    top: 0px;
    left: 5%;
}

.title {
    font-size: 32px;
    color: white;
    margin: 10px;
}

.input-passage {
    font-size: 1.7vh;
    border-radius: 5px;
    width: 80%;
    height: 2.0vh;
    padding: 0.5vh;
    border: 2px solid transparent;
    transition: all 0.2s ease-in-out;
}

.input-passage:hover {
    border-color: #1d4ed8;
}

.input-passage:focus {
    border-color: #3b82f6;
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.1);
    outline: none;
}

.passage-display {
    width: 100%;
    min-height: 100%;
    padding: 0px 3% 0px 3%; /* 左右有边距，上下没有 */
}

.passage-span {
    color: #1e293b;
    font-size: xx-large;
}

.passage-span-highlight {
    background-color: #dbfaff;
    color: #1e40af;
    transition: all 0.2s ease-in-out;
}

.passage-span-highlight:hover {
    background-color: #a8cfff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}