/*main.css*/

.left {
    width: 25%;
    height: 100vh;
    background-color: #111519;
    position: fixed;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 48px;
    color: white;
    margin: 10px;
}

.input-word {
    text-align: center;
    font-size: 1.5vw;
    border-radius: 5px;
    width: 50%;
    height: 4%;
}

.hint {
    color: white;
    margin: 5px;
}

.left-btn-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 7vh 7vh;
    width: 80%;
    justify-items: center;
}

.left-buttons {
    width: 85%;
    height: 5vh;
    font-size: 1.7vw;
    border-radius: 5px;
}

@keyframes zoom-in {
    0% {transform: scale(1.0);}
    100% {transform: scale(1.1);}
}

@keyframes zoom-out {
    0% {transform: scale(1.1);}
    100% {transform: scale(1.0);}
}

.content {
    width: 75%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.word-table {
    width: 90%;
    border-collapse: collapse;
    padding: 12px;
    animation: fade-in 0.5s ease;
}

.head {
    background-color: #343A40;
    color: white;
}

.translation-input {
    color: white;
    font-size: 18px;
    width: 97%;
    height: 18px;
    background-color: #0E1012;
    overflow: hidden;
    resize: none;
    border: none;
}

.table-data {
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    padding: 2px;
}

.translation-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.operations-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

.operations {
    height: 18px;
    width: 18px;
}

.notifications-container {
    position: fixed;
    right: 27.5%;
    bottom: 20vh;
    width: 20%;
    display: flex;
    flex-direction: column;
}

.notification {
    background-color: wheat;
    min-height: 7vh;
    width: 100%;
    display: flex;
    border-radius: 8px;
    border: #5C5343 3px solid;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.notification-and-gap {
    width: 100%;
    display: flex;
    flex-direction: column;
    opacity: 0.3;
    transform: translateY(40px);
}

.notification-text {
    color: black;
    font-size: 18px;
}

.translationally-fade-in {
    animation: translationally-fade-in 0.5s ease
}

.translationally-fade-out {
    animation: translationally-fade-out 0.5s ease
}

.opaquely-fade-in {
    animation: opaquely-fade-in 0.5s ease;
}

.opaquely-fade-out {
    animation: opaquely-fade-out 0.5s ease;
}

@keyframes translationally-fade-in {
    0% {transform: translateY(40px);}
    100% {transform: translateY(0px);}
}

@keyframes translationally-fade-out {
    0% {transform: translateY(0px);}
    100% {transform: translateY(40px);}
}

@keyframes opaquely-fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes opaquely-fade-out {
    0% {}
    100% {opacity: 0;}
}